<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="header">
  <a href="/" class="logo" id="EM"><strong>EM</strong></a>
  <div class="header-right">
    <a href="/">Home</a>
    <a href="/">About</a>
    <a href="/">Experience</a>
    <a href="/">Projects</a>
    <a href="/">Contact</a>
  </div>
</div>

<div>
    <section id="Contact">
        <center>
        <div class="div5">
            <h2 class="shine" id="want1">500 Server Error!</h2>
            <h2 id="want">Want to work together?</h2>
            <div class="let-button">
            <a href = "mailto: elvirmisini@gmail.com" id="let">Let's do this!</a>
            </div>
            <div class="social-media">
            <a href="https://www.facebook.com/elvir.misini/" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/elvirmisini/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/elvir-misini-479547202/" class="fa fa-linkedin"></a>
            <a href="https://github.com/elvirmisini" class="fa fa-github"></a>
            </div>
            <footer>
                Made with love by me &copy; <script>document.write(/\d{4}/.exec(Date())[0])</script><br>
                Made with Python(Flask) & PyCharm
            </footer>
        </div>
        </center>
    </section>
</div>
</body>
</html>
