<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>about</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">

</head>
<body>
<div class="header">
  <a href="#Home" class="logo" id="EM"><strong>EM</strong></a>
  <div class="header-right">
    <a href="#Home">Home</a>
    <a href="#About">About</a>
    <a href="#Experience">Experience</a>
    <a href="#Projects">Projects</a>
    <a href="#Contact">Contact</a>
  </div>
</div>

<div>
<form action="/pdfCV" method="POST" enctype=multipart/form-data>

    <section id="Home">
        <div class="div1">
            <div class="shine">
                Keep it simple!
            </div>
        </div>
    </section>
    <section id="About">
        <div class="div2">
            <h2>Hi, I am Elvir Misini.</h2>
            <p>
                I am a Python developer and I am seeking a new position in this area. I have less than one year as a junior software
                developer. In my short free time there, I have alrady contributed to some projects. I have completed an internship and
                training about web. I would like to continue to specialize in this area. Scroll more te see my projects.
                <br>By the way Python was a first sight love.
            </p>
        </div>
    </section>
    <section id="Experience">
        <div class="div3 div2">
            <h2>Appdec</h2>
            <p>
                Software Developer Internship(July 2021 - November 2021).
            </p>
            <h2>TECHSTITUTION TRAINING</h2>
            <p>Web development, HTML5, CSS, JavaScript and Bootstrap (February 2021 - February 2021).</p>
        </div>
    </section>
    <section id="Projects">
        <div class="div4">Projects</div>
    </section>
    <section id="Contact">
        <div class="div5">Contact</div>
    </section>

</form>
</div>

</body>
</html>
